
body {
    background: #ffff
    ;
}

nav {
    height: 64px;
    position: relative;
}

.menu-toggle {
    
    position: absolute;
    padding: 5px;
    background: #ddb8b6;
    border: 1px solid transparent;
   
    margin: 7px 0;
    top: 50%;
    left: 50%; 

   transform: translate(-50%, -50%);
    
}

.menu-toggle:focus {
    outline-width: 0;
}

.menu-toggle [class*='bar-'] {
    background: #000000;
    display: block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;

    /* Proprotion bouton hamburger*/
  
  
    border-radius: 4px;
    height: 4px;
    width: 50px;
    margin-bottom: 8px; 
}

.menu-toggle.opened .bar-bottom {
    margin-bottom: 0;
}

.menu-toggle.opened .bar-top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 15% 15%;
    transform-origin: 15% 15%;
}

.menu-toggle.opened .bar-middle {
    opacity: 0;
}

.menu-toggle.opened .bar-bottom {
    -webkit-transform: rotate(45deg);
        transform: rotate(-45deg);
    -webkit-transform-origin: 15% 95%;
        transform-origin: 15% 95%;
}

.navbar {
    background: green;
}

/* menu cache par defaut */

#menu {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background: white;
    list-style: none;
    margin: 0;
    padding: 0;
    
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: 0.3s ease;
}

/* menu visible */
#menu.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    background: grey;
}

#menu {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}