/*CSS classique */

.navbar {
    background: #e36f6f;
    border-bottom: 1px solid #ddd;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}

.logo img {
    display: block;
}

.navlist {
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navlist a {
    text-decoration: none;
    color: #222;
    font-weight: 600;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

/* Mobile responsive */

@media (max-width:768px) {

    .menu-toggle {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .menu-toggle span {
        width: 28px;
        height: 3px;
        background: #000;
        display: block;
    }

    .navdrop {
        display: block;
        width: 100%;
    }

    .navdrop.open {
        display: block;
    }

    .nav-container {
        flex-wrap: wrap;
    }

    .navlist {
        flex-direction: column;
        padding-top: 15px;
        align-items: center;
    }
}